@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
/*   ////////////////////////////////////////       */
.contIcon {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  background-color: rgb(224, 229, 236);
  box-shadow: rgba(163, 177, 198, 0.5) 4px 4px 6px 0px, rgb(255, 255, 255) -4px -4px 6px 0px;
  position: absolute;
  bottom: -26%;
  left: 53.8%;
  margin: 0% auto;
  padding: 0.28%;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 6px;
  z-index: 100;
  transition: all ease 0.35s;
}
.contIcon:hover, .contIcon:focus {
  cursor: pointer;
  border-radius: 12px;
  background-color: rgb(128, 131, 134);
  box-shadow: rgba(72, 77, 87, 0.5) 6px 6px 8px 3px, rgb(180, 180, 180) -6px -6px 8px 3px;
  transform: scale(0.93);
  border-radius: 6px;
}
.contIcon > .global-class-name {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 90%;
  height: 90%;
  margin: 0% auto;
  padding: 0%;
}

.contMenuImages {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  border-radius: 6px;
  background: #e0e0e0;
  box-shadow: inset 11px 11px 24px #c1c1c1, inset -11px -11px 24px #ffffff;
  width: 25vw;
  height: 7vh;
  margin: 0%;
  padding: 2%;
  border-radius: 0px 0px 9px 9px;
  position: absolute;
  top: 129%;
  left: 42.732%;
  gap: 2%;
}

.contEmojis {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  margin: 0% auto;
  padding: 0%;
  position: absolute;
  top: 0%;
  left: 76%;
  gap: 5%;
}
.contEmojis > .contEmojiPicker {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0% auto;
  padding: 0%;
  width: 100%;
  height: 100%;
  gap: 5%;
}
.contEmojis > .contEmojiPicker > .emojipicker {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0% auto;
  padding: 0%;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
.contEmojis > .contEmoji {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 17.5rem;
  height: 3.35rem;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: inset -12px -12px 24px #aaaaaa, inset 12px 12px 24px #ffffff;
  margin: 0% auto;
  padding: 0%;
  margin: 0% auto;
  margin-top: 0.5%;
  margin-left: 24.7%;
  border-radius: 9px;
  border: 1px solid rgb(167, 166, 166);
}

.contChat {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  width: 36vw;
  height: 48vh;
}
.contChat > .chatMain {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  margin: 0% auto;
  padding: 0%;
}

/*# sourceMappingURL=ChatPage.css.map */
